In [1]:
import pandas as pd
import numpy as np
import re
import cleaning_functions as cfun
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('..\data\raw\dirty_dataset.csv')

In [3]:
#Cleaning our dataset using the cleaning_functions.py created beforehand

#Using in order :

# 1/ Droping columns that are mostly epty or have no interest for our project 
# 2/ Clean column names - converting to snake format
# 3/ Converting some columns values to snake format
# 4/ Converting organization size to a 3 level scale (small/medium/large)
# 5/ Clean country column to remove states, and multiple countries 
# 6/ Manually get rid of text strings in ransom_cost
# 7/ Convert 'ransom_cost' values to numeric
# 8/ Convert 'ransom_cost' values to a monetary format

#extra steps
# 9/ Manual cleaning of some satelite values
# 10/ Save cleaned dataframe as a clean_dataset.csv

In [4]:
#1

columns_to_drop = ['AKA', 'description ', 'YEAR code','data note','cost', 'interesting story (edited)', 'interesting story (long)', 'interesting story?', 'stock symbol', 'revenue as of', 'no of employees', 'Data Note', 'Source Name', '#ID', 'month as code', 'date code', 'date code 2','URL','URL 2','URL 3','URL 4', 'URL 5']
df = cfun.drop_columns(df, columns_to_drop)
df.head()

,Target,sector,organisation size,revenue,ransom cost,ransom paid,YEAR,month,location,Ransomware
0,"""Cryptolocker""",misc,100,1,27,unknown,2013,SEP,Worldwide,CryptoLocker
1,"""Cryptowall""",misc,25,1,18,unknown,2014,JAN,Worldwide,CryptoWall
2,Apple devices,misc,1,1,5,unknown,2014,MAY,Australia,Not revealed
3,New Hampshire PD,government,1,1,0.003,unknown,2014,JUN,USA,CryptoWall
4,"""TeslaCrypt""",misc,5,1,0.07652,unknown,2015,MAR,Worldwide,TeslaCrypt

In [5]:
#2

df = cfun.clean_column_names(df)
df.head()

,target,sector,organisation_size,revenue,ransom_cost,ransom_paid,year,month,location,ransomware
0,"""Cryptolocker""",misc,100,1,27,unknown,2013,SEP,Worldwide,CryptoLocker
1,"""Cryptowall""",misc,25,1,18,unknown,2014,JAN,Worldwide,CryptoWall
2,Apple devices,misc,1,1,5,unknown,2014,MAY,Australia,Not revealed
3,New Hampshire PD,government,1,1,0.003,unknown,2014,JUN,USA,CryptoWall
4,"""TeslaCrypt""",misc,5,1,0.07652,unknown,2015,MAR,Worldwide,TeslaCrypt

In [6]:
#3

df = cfun.value_snake_case(df, ['target', 'ransomware','month']) 
df.head()

,target,sector,organisation_size,revenue,ransom_cost,ransom_paid,year,month,location,ransomware
0,cryptolocker,misc,100,1,27,unknown,2013,sep,Worldwide,cryptolocker
1,cryptowall,misc,25,1,18,unknown,2014,jan,Worldwide,cryptowall
2,apple_devices,misc,1,1,5,unknown,2014,may,Australia,not_revealed
3,new_hampshire_pd,government,1,1,0.003,unknown,2014,jun,USA,cryptowall
4,teslacrypt,misc,5,1,0.07652,unknown,2015,mar,Worldwide,teslacrypt

In [7]:
#4

df = cfun.replace_organisation_size(df, 'organisation_size')
df.head()

,target,sector,organisation_size,revenue,ransom_cost,ransom_paid,year,month,location,ransomware
0,cryptolocker,misc,large,1,27,unknown,2013,sep,Worldwide,cryptolocker
1,cryptowall,misc,medium,1,18,unknown,2014,jan,Worldwide,cryptowall
2,apple_devices,misc,small,1,5,unknown,2014,may,Australia,not_revealed
3,new_hampshire_pd,government,small,1,0.003,unknown,2014,jun,USA,cryptowall
4,teslacrypt,misc,small,1,0.07652,unknown,2015,mar,Worldwide,teslacrypt

In [8]:
#5

df = cfun.clean_country_column(df, 'location')
df.head()

,target,sector,organisation_size,revenue,ransom_cost,ransom_paid,year,month,location,ransomware
0,cryptolocker,misc,large,1,27,unknown,2013,sep,worldwide,cryptolocker
1,cryptowall,misc,medium,1,18,unknown,2014,jan,worldwide,cryptowall
2,apple_devices,misc,small,1,5,unknown,2014,may,australia,not_revealed
3,new_hampshire_pd,government,small,1,0.003,unknown,2014,jun,usa,cryptowall
4,teslacrypt,misc,small,1,0.07652,unknown,2015,mar,worldwide,teslacrypt

In [9]:
#6

df['ransom_cost'].unique()

array(['27', '18', '5', '0.003', '0.07652', '0.0025', nan, '0.017',
       '0.019', '0.01578', '0.039', '0.074', '0.021', '300', '69',
       '0.055', '0.051', '30', '0.4', '0.13', '2.5', '0.5', '0.030493',
       '0.836', '0.07628', '1.1', '14', '0.22', '4.9', '67', '1.4', '15',
       '11', '0.49', '0.75', '0.3', '94', '4', '4.5', '10', '0.291',
       '0.69', '0.9', '0.01', '0.045', '0.457', '1', '1.14', '2.3', '7.5',
       '7.7', '20', '34', '42', '50', '70', '75', '2.6', '4.4', '1.2',
       '100', '24', '9', '40', '2', '1.75', '0.8', '387', '150', '670',
       '400', '90', '130', '41', '92', '45', '5.3', '0.038', '8.7',
       '0.013', '0.044', '0.05', '106.8', 'unknown', '5.9', '240',
       '"millions"', '3', '0.1', '0.037', '0.65', 'Unknown', '80', '0',
       '60'], dtype=object)

In [10]:
#6

#  A specific case in the ransom_cost & revenue appears : some text strings happen, 
# and are not recognized as a float or int, before converting the whole column 
# to floats, and apply a multiplicator to have monetary-formated figures, 
# we need to transform these text strings into NaNs as they represent a lack 
# of information (replacing them by 0would mean that cost of ransom was 0$ 
# and would bias the mean and other key values of the dataset)
    
strings_to_convert = ['Unknown', 'unknown', '"millions"']

# Replace specified strings with NaNs
df['ransom_cost'] = df['ransom_cost'].replace(strings_to_convert, np.nan)
df['revenue'] = df['revenue'].replace(strings_to_convert, np.nan)
df.head()

,target,sector,organisation_size,revenue,ransom_cost,ransom_paid,year,month,location,ransomware
0,cryptolocker,misc,large,1,27,unknown,2013,sep,worldwide,cryptolocker
1,cryptowall,misc,medium,1,18,unknown,2014,jan,worldwide,cryptowall
2,apple_devices,misc,small,1,5,unknown,2014,may,australia,not_revealed
3,new_hampshire_pd,government,small,1,0.003,unknown,2014,jun,usa,cryptowall
4,teslacrypt,misc,small,1,0.07652,unknown,2015,mar,worldwide,teslacrypt

In [11]:
#7

df = cfun.ensure_numeric_finite(df, 'ransom_cost')
df = cfun.ensure_numeric_finite(df, 'revenue')

In [12]:
#8

df = cfun.convert_ransom_cost_to_numeric(df, 'ransom_cost')
df = cfun.convert_ransom_cost_to_numeric(df, 'revenue')
display(df)

,target,sector,organisation_size,revenue,ransom_cost,ransom_paid,year,month,location,ransomware
0,cryptolocker,misc,large,1000000.0,27000000.0,unknown,2013,sep,worldwide,cryptolocker
1,cryptowall,misc,medium,1000000.0,18000000.0,unknown,2014,jan,worldwide,cryptowall
2,apple_devices,misc,small,1000000.0,5000000.0,unknown,2014,may,australia,not_revealed
3,new_hampshire_pd,government,small,1000000.0,3000.0,unknown,2014,jun,usa,cryptowall
4,teslacrypt,misc,small,1000000.0,76520.0,unknown,2015,mar,worldwide,teslacrypt
...,...,...,...,...,...,...,...,...,...,...
629,crown_point_community_schools,academic,medium,116000000.0,NaN,ransom paid,2022,nov,usa,unknown
630,brb,finance,medium,NaN,1000000.0,ransom paid,2022,oct,brazil,lockbit
631,sigmund_software,tech,small,9000000.0,1000000.0,ransom paid,2022,sep,usa,spyhive
632,colosseum_dental,healthcare,small,53000000.0,2000000.0,ransom paid,2022,aug,netherlands,lv
633,british_library,academic,medium,180000000.0,NaN,refused,2023,oct,uk,nan

In [14]:
#9 

df['sector'] = df['sector'].replace('healthcare\n\n', 'healthcare')

df['location'] = df['location'].replace('uk', 'united_kingdom')
df['location'] = df['location'].replace('multinational', 'multiple_countries')
df['location'] = df['location'].replace('netherlands_germany', 'netherlands')
df['location'] = df['location'].replace('the_netherlands', 'netherlands')
df['location'] = df['location'].replace('russia_', 'russia')
df['location'] = df['location'].replace('uk_', 'united_kingdom')
df['location'] = df['location'].replace('north_carolina', 'usa')
df['location'] = df['location'].replace('réunion', 'france')
df['location'] = df['location'].replace('europe', 'multiple_countries')
df['location'] = df['location'].replace('wordlwide', 'worldwide')

array(['cryptolocker', 'cryptowall', 'not_revealed', 'teslacrypt',
       'armada_collective', 'hddcryptor', 'badrabbit', 'notpetya_petya',
       'notpetya', 'wannacry', 'samsam', 'ryuk', 'maze',
       'shadow_kill_hackers', 'robbinhood', 'trickbot_ryuk', 'ta505',
       'doppelpaymer', 'netwalker', 'darkside', 'lockbit', 'defray',
       'nefilim', 'erkan', 'ransomexx', 'clop', 'egregor', 'pay2key',
       'revil', 'mountlocker', 'ragnar_locker', 'wastedlocker',
       'evilcorp', 'snake', 'black_shadow', 'conti', 'babuk',
       'phoenix_locker', 'hotarus_corp', 'hellokitty', 'nan', 'qbot',
       'unknown', 'iencrypt', 'mount_locker', 'pysa', 'cuba_ransomware',
       'synack', 'ragnarok', 'astro', 'babuk_locker', 'babuk_', 'avaddon',
       'xing_team', 'hive', 'blackmatter', 'lockbit_20', 'dev0270',
       'blackcat_alphv_noberus', 'lapus', 'blackcat_alphv', 'leakbase',
       'blackbyte', 'pandora', 'black_basta', 'conti_hive', 'ransomhouse',
       'quantum', 'lapsus', 'vice_society', 'daixin_team', 'blackcat',
       'lv', 'russian_unknown', 'homeland_justice', 'play',
       'ragnar_locker_donut_leaks', 'donut_leaks', 'donut_leaks_hive',
       'lockbit_hypothesis', 'alphvblackcat', 'cl0pconti', 'medusa',
       'royal', 'deadbolt', 'yanluowang', 'samsamdev0270', 'noescape',
       'snatch', 'rhysida', 'akira', 'qilin', 'bianlian', 'lorenz',
       'donut', 'blackbasta', 'alphvblackcat_hive', 'cuba', 'karakurt',
       'medusalocker', 'avoslocker', 'scattered_spider', '8base',
       'spyhive'], dtype=object)

In [15]:
#10

df.to_csv('../data/cleaned/clean_dataset.csv', index=False)